/* -----------Home page -------------*/
body, ul, li, h1, h3, a{
    margin: 0;
    padding: 0;
    font-family: serif;
  }
  p{
    font-size: 18px;
  }
  /* header .......*/
  header{
     background-color:lightgrey;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  header h1{
    color: white;
   
    display: inline-block;
    padding: 6px 12px;
    
  }
  /* background image*/
  .background{
    position: relative;
  }
  .background img{
    max-width: 100%;
  }
  .background .welcome{
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 20%;
  } 
  .background .welcome span{
    font-size: 1.2em;
  }
  /* nav for links */
  nav{
    background: #F4F4F4;
    padding: 30px;
    
    top: 106px;
    
  }
  nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
  }
  nav li a{
    text-decoration: none;
    color: #4B4B4B;
  }
  nav li a:hover{
    text-decoration: underline;
  }
  nav li a.sign{
    color: #4B4B4B;
  }
  /* main part of the homepage*/
  main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  /* */
  article h3{
    color: #4B4B4B;
    font-size: 48px;
  }
  article p{
    line-height: 2em;
    color: #4B4B4B;
  }
  article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
  }
  /* for the images in the end */
  .img{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
  }
  .img li{
    display: inline-block;
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    position: relative;
  }
  .img li:hover{
    top: -4px;
  }
  .img li img{
    max-width: 90%;
  }
  /* the last section on the page*/
  section.register{
    background: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4B4B4B;
  }
  section.register h2{
    font-size: 36px;
  }
  section.home{
    height:auto;
    width: 400px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    left: 80px;
    color:#4B4B4B;
    font-size:48px;
    top:50px;
    
  }
  section div.home2{
    position: relative;
    left:550px;
    bottom: 240px;
    color:#4B4B4B;
    font-size: 48px;
   
  }
  .imsh{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
  
  }
  .imsh li{
    display: inline-block;
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    position: relative;
    right: 20px;
    bottom: 200px;
  }
  .imsh li img{
    max-width: 90%;
  }
  
  div.home3 h2{
    text-align: center;
    font-weight: bold;
    color:black;
  }
  div.home3{
    text-align: center;
    color:#4B4B4B;
  }
  div.home3 li{
   list-style: none;
  }
  
  /* the login form in the end */
  form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
  }
  form input:focus{
    border: 4px dashed #4B4B4B;
    outline: none;
  }
  form input:valid{
    border: 4px solid #71d300;
  }