/* -----------Home page -------------*/
body {
  background: black;
  color: white;
}

/* backgrod imunage*/
.background {
  position: relative;
}

.background img {
  max-width: 100%;
}

.background .welcome {
  text-align: center;
  background: transparent !important;
  color: white;
  padding: 5px;
  font-size: 40px;
  position: absolute;
  top: 20%;
  left: 2%;
  margin: 0 auto;
}

.background .welcome span {
  font-size: 1.2em;
  background: transparent !important;
}

/* main part of the homepage*/
.sectionmain {
  margin: 80px auto;
  padding: 0 30px;

}

.home-page-wrapper {
  margin: 10% auto;
  box-shadow: rgba(255, 255, 255, 0.448) 0px 5px 15px 0px;
  min-height: 70vh;
  padding: 5% 10% 10% 10%;
  border-radius: 10px;
  text-align: center;
}
.home-page-wrapper h2{
  margin-bottom: 10%;
}

.row2  p, .sectionmain p {
  margin: auto;
  text-align: center;
  font-size: 1em;
  width: 50%;
  line-height: 2.5em;
}

.image2 {
  margin: auto;
}

.sectionmain div h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

.sectionmain div p {
  text-align: center;
}

/* for the images in the end */
.img {
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
}

.img li {
  display: inline-block;
  list-style-type: none;
  width: 40%;
  margin: 20px 3%;
  position: relative;
}

.img li:hover {
  top: -4px;
}

.img li img {
  max-width: 70%;
}

/* the last section on the page*/


section div.home2 {
  display: inline block;
  text-align: center;
  position: relative;
  left: 700px;
  top: 100px;
  line-height: 27px;
  color: #4B4B4B;
  font-size: 60px;
  width: 450px;
}

section.home4 {
  background: #F4F4F4;
  padding: 10px;
  border-radius: 10px;
}


.homeimage {
  height: 250px;
  width: auto;
  margin: auto;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px 0px;
}

section.home4 img {
  position: relative;
  right: -200px;
  border-radius: 9px;
  border: 1px solid white;
  margin: 20px 0;
}

div.home3 h2 {
  text-align: center;
  font-weight: bold;
  color: black;
}

div.home3 {
  text-align: center;
  color: #4B4B4B;
}

div.home3 li {
  list-style: none;
}

.home-pop-up {
  width: max-content;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 18px;
  text-align: center;
  color: white;
}

.home-pop-up form input {
  margin: 10px auto;
}

.home-pop-up h2 {
  margin: 10px auto;
}

.home-pop-up form:first-child {
  margin: 10px auto;
}

/*Team slider*/
.outer-con{
  width: 100%;
  height: 500px;
}
.inner-con{
  width: 95%;
  height: 350px;
  position: relative;
  margin: 75px auto;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 2%;
}
.slider{
  display: inline-flex;
  transition: all 1s;
}
.slider img{
  width: 100px;
  border-radius: 50%;
  margin-top: 40px;
}
.crad1 , .crad2 , .crad3{
  width: 220px;
  height: 350px;
  background: #202a33;
  border-radius: 20px;
  text-align: center;
  margin: auto 25px;
}
.slider h1{
  font-size: 15px;
  text-transform: capitalize;
  margin: 5px 0;
  color: aliceblue;
}
.icons i{
  display: inline-block;
  margin: 13px 10px;
  font-size: 14px;
  cursor: pointer;
}
.icons i:nth-child(1){
  background-image: linear-gradient(to right , #5188fd , #49c5ff);
  color: white;
  padding: 12px 15px;
  border-radius: 50%;
}
.icons i:nth-child(2){
  background-image: linear-gradient(to right , #cc00ff , #ff49b3);
  color: white;
  padding: 12px 13px;
  border-radius: 50%;
}
.icons i:nth-child(3){
  background-image: linear-gradient(to right , #8c00ff , #ff55b8);
  color: white;
  padding: 12px;
  border-radius: 50%;
}
.icons{
  margin-bottom: 12px;
}

.btns{
  margin: auto;
  text-align: center;
  justify-items: center;
  align-items: center;
}
.btns button{
  border: 2px solid aliceblue;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  outline: none;
  background: transparent;
  margin: 0 6px;
  cursor: pointer;
}
.btns button:nth-child(1){
  background: aliceblue;
}

.btn2, .btn4, .btn5, .btn6{
  display: hidden;
}

/*For small devices*/

@media (max-width: 414px) {
  .homeimage{
    width: 80% !important;
  }
  section.home4 img {
    position: relative;
    left: 2% !important;
  }
  .welcome  {
    position: relative;
    top:0 !important;
  }
  .sectionmain div p{
    margin-left: 10%;
    margin-right: 10%; 
    width: 80%;
  }
}

@media (max-width: 768px) {
  .row2 p {
    width: 90%;
  }

  .background img {
    display: none;
  }

  .background {
    height: 100vh;
  }

  .background .welcome {
    top: 5%;
  }

  .home4 img {
    position: absolute;
    border-radius: 9px;
    border: 1px solid white;
    margin: 20px auto;
  }

  .homeimage {
    height: 200px;
    width:65%;
    margin: 2% auto;
  }
  .background .welcome {
    top: 15%;
  }
  .hide {
    display: none;
  }
  .btn2, .btn4, .btn5, .btn6{
    display: initial;
  }
}
@media (max-width: 1024px) {
 section.home4 img {
    position: relative;
    left: 5%;
  }
}

