/* this css is for Nav Links page */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,700;1,200;1,300;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: black;
  height: 80px;
  color: white;
  box-shadow: rgb(93, 77, 77) 0px 13px 27px -5px, rgb(62, 55, 55) 0px 8px 16px -8px;

}

.page-links {
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
  font-size: 2em;
}

.nav-ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-ul a {
  color: white;
}

.nav-ul li {
  padding: 5px;
  margin: 0 10px;
  color: white;
}

.nav-ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#login a {
  color: #498afb;
}
.bi-person{
  font-size: 1.4em;
}

#hamburger-icon {
  display: none;
  margin: auto 0;
  cursor: pointer;
  background: black;
  z-index: 100;
  font-size: 14px;
}

#hamburger-icon div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 8px 0;
  transition: 1s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  background: black;
}

.mobile-menu li {
  margin-bottom: 10px;
  list-style-type: none;
  padding: 1em 0;
}

.mobile-menu li a {
  color: white;
}

@media only screen and (max-width: 600px) {

  .page-links,
  .login-links {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .nav-ul a {
    color: black;
  }
}