/* this is the main in users */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,700;1,200;1,300;1,400&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
    --logoColor: #09c372;
    --links: 0.5;
    --linksHover: 1;
}

/*------------------Custom scrollbar------------*/
html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-track {
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #0071b3 74%);
    opacity: 0.6;
    border-radius: 10px;
}

/*--------------Universal styles-----------------*/
.row {
    display: flex;
    justify-content: space-between;
}

.link {
    color: blue;
    text-decoration: none;
    opacity: 0.9;
    transition: all 8ms ease-in-out;
    font-size: 1.2em;

}

.link:hover {
    opacity: 1;
}

.button {
    background: blue;
    outline: none;
    border: 0.5px dashed white !important;
    border-radius: 2px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5em 1em;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    border: 0.7px solid white !important;
    border-radius: 10px;
    color: white;
    background: rgb(98, 98, 255);
}

.form-input {
    padding: 0.5em;
    font-size: 14px;
    color: white;
    background: transparent;
    margin-bottom: 1em;
    outline: none;
    border: none;
    width: 80%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.667);
    transition: all 3ms ease-in-out;
}

.form-input:invalid {
    border-bottom: 1px solid rgba(255, 0, 0, 0.415);
}

.form-input:valid {
    border-bottom: 1px solid rgba(51, 255, 0, 0.415);
}

.error,
.success {
    font-size: 12px;
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
}

.error {
    background: rgb(233, 189, 189);
    color: red;
    border: 0.1px solid red;
}

.success {
    background: rgb(198, 255, 198);
    color: green;
    border: 0.1px solid green;
}

/* ------------- login page ------------- */

.form-box {
    width: 32vw;
    height: 95vh;
    position: relative;
    margin: 2% auto 0 auto;
    padding: 5px;
    overflow: hidden;
}


.button-box {
    width: 200px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ffffff1f;
    border-radius: 30px;
    justify-content: space-between;
}

.toggle-btn {
    padding: 10px 29px;
    cursor: pointer;
    text-align: center;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: #7869ff;
    border-radius: 30px;
    transition: .5s;
}

.input-group-login {
    top: 150px;
    left: 60px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-register {
    top: 120px;
    position: absolute;
    width: 380px;
    transition: .5s;
    left: 480px;
}


.login-row {
    margin: 0 10%;
    padding: 5%;
    box-shadow: rgba(255, 255, 255, 0.804) 0px 5px 15px 0px;
    border-radius: 5px;
}

.col {
    margin: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.small-link {
    text-decoration: none;
    font-size: 14px;
    text-align: right;
}

.small-text p {
    text-align: center;
    margin: 5px 0 !important;
}

.no-margin {
    margin-top: 0 !important;
}

.login-form>label {
    margin-top: 25px;
}

.login-form>input,
.btn {
    height: 40px;
    width: 270px;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
}

.login-form>a {
    margin-top: 25px;
    margin-bottom: 5px;
    color: rgb(51, 51, 245);
    font-weight: 400;
}

.btn:hover {
    background: rgb(87, 87, 255);
}

.login-btn {
    background: rgb(51, 51, 245);
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.fb-goog {
    margin-top: 30px;
    text-align: center;
}

.fb-goog>div {
    margin-top: 20px;
}

.fb-goog-col {
    background: rgba(128, 128, 128, 0.63);
    color: gray;
    width: 40%;
    height: 30px;
    padding-top: 4px;
    border-radius: 10px;
}

.fb-goog-col:hover {
    background: rgb(87, 87, 255);
}

.reg-col>label {
    margin-top: 20px;
}

.reg-col>input,
select {
    height: 40px;
    width: 100%;
    margin-right: 25px;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
}

.reg-col {
    display: flex;
    flex-direction: column;
}

.reg-btn {
    background: rgb(51, 51, 245);
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 25px auto 0 auto;
    width: 95%;
}

.privacy {
    margin-top: 20px;
}

.privacy a {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.63)
}

.privacy label {
    max-width: 80%;
}

.small-text>p {
    margin-top: 20px;
    max-width: 270px;
}

/* --------------- Confirm email Page----------*/
.conf-form {
    margin: auto;
}

.conf-btn {
    margin: 35px auto;
}

.confirm-email {
    margin: 7% 30%;
    padding: 2%;
    box-shadow: rgba(255, 255, 255, 0.448) 0px 5px 15px 0px;
    border-radius: 10px;
}

.conf-form>input {
    margin: auto;
    text-align: center;
    justify-content: center;
}

/* --------------- Fabebook login Page----------*/
.fb-holder {
    margin: 10% auto;
    text-align: center;
    padding: 0 30%;
}

.fb-wapper {
    padding: auto;
    box-shadow: rgba(255, 255, 255, 0.448) 0px 5px 15px 0px;
    border-radius: 10px;
    padding: 5%;
}

.fb-wapper>p {
    margin: 10% auto 10px auto;
    text-align: center;
}

.fb-wapper>a>img {
    text-align: center;
    width: 50%;
}

/* --------------- Blog page ----------------- */
.latest-blog{
    padding: 20px;
    margin: 2em auto auto auto;
}

.blog-img {
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.blog-img:hover {
    opacity: 0.8;
    transition: all 0.8s ease-in-out; 
}
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1.9rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
    background-color: dodgerblue;
    height: auto;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(255, 255, 255, 0.448) 0px 5px 15px 0px;
    transition: all 0.8s ease-in-out; 
}
.blog-contents{
    padding: 0 20px;
    text-decoration: none;
}
.blog-link{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 300;
    transition: all 0.8s ease-in-out; 
}
.card:hover{
    transform: scale(1.1);
}
.blog-link:hover{
    color: rgb(187, 187, 187);
}
.blog-disc{
    height: 100px;
    overflow: hidden;
color: black;margin: 5px;}
.category{
    width: max-content;
    text-transform: uppercase;
    background:rgba(255, 255, 255, 0.448);
    color: blue;
    padding: 5px 10px;
    border-radius: 10px;
}
.card a:first-child{
    padding: 0 !important;
}











/* -------------------------ABOUT US PAGE---------------------*/
.about-wrapper {
    box-shadow: rgba(255, 255, 255, 0.448) 0px 5px 15px 0px;
    border-radius: 10px;
}

.about-container {
    padding-top: 0 !important;
}

.about-content {
    margin: 10% auto 10% auto;
    padding: 5% 5%;
    min-height: 70vh;
}

.about-image {
    margin: 7% auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.45) 0px 25px 20px -20px;
}

.padding-top {
    padding-top: 10% !important;
}

.inner-row {
    width: 100%;
    padding: 5%;
    align-items: center;
}

.inner-row ul li {
    list-style-type: none;
    margin: 10px auto;
}

.mine {
    padding: 10% 0;
}

.map {
    padding: 0 5%;
    border-radius: 5px;
}

.map>iframe {
    margin: auto;
    text-align: center;
    width: 100%;
}


/*-------footer-----*/
.footer-container {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;
}

.footer-link-wrapper {
    margin: 1em auto;
    border-top: 1px solid rgba(255, 255, 255, 0.422);
}

.footer-h4 {
    font-size: 36px;
    color: var(--logoColor);
    font-weight: bold;
    text-decoration: none;
}

.social-links {
    margin-top: 1em;
    height: 5vh;
}

.separator {
    border-right: 1px solid white;
    opacity: var(--links);
}

.social-links a {
    margin-top: auto;
    padding: 1em 2em;
}

.social-links a i {
    margin-top: auto;
    font-size: 1.5em;
    color: rgb(64, 175, 255);
    opacity: var(--links);
    transition: all 5ms ease-in-out;
}

.social-links a i:hover {
    opacity: var(--linksHover);
    font-size: 1.7em;
}

.footer-page-links {
    margin-top: 2em;
}

.footer-page-links ul {
    width: 70%;
    margin: auto;
}

.footer-page-links ul li {
    width: 100%;
    margin: auto;
    list-style: none;
}

.footer-page-links ul li a {
    font-size: 14px;
    color: white;
    opacity: var(--links);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.9s ease-in-out;
}

.footer-page-links ul li a:hover {
    opacity: var(--linksHover);
}

.footer-container p {
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 12px;
    opacity: 0.6;
    text-transform: capitalize;
}

/*----------contact page-------*/
.contact-container,
.about-container {
    margin: auto;
    padding: 5% 5% 0 5%;
    text-align: center;
}

.contact-wrapper {
    margin: auto;
    box-shadow: rgba(255, 255, 255, 0.448) 0px 5px 15px 0px;
    border-radius: 10px;
}

.contact-info {
    width: 100%;
    margin: 5em auto 0 auto;
}

.contact-info-content {
    justify-content: center;
    align-items: baseline;
}

.contact-h2 {
    margin-bottom: 1em;
    text-decoration: underline;
}

.contact-info-table {
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin: 5em auto;
    padding-left: 3%;
}

.contact-info-table tr td {
    padding: 1em;
}

.bi-telephone-outbound {
    font-size: 5REM;
}

.pop-up {
    background-color: #2e2e2e7b;
    width: 30%;
    padding: 20px 30px;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 75%;
    top: 50%;
    border-radius: 18px;
    text-align: center;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.448) 0px 5px 15px 0px;
}

.pop-up form input {
    margin: 10px auto;
}

.pop-up h2 {
    margin: 10px auto;
}

.pop-up form:first-child {
    margin: 10px auto;
}

#close {
    margin: 10px auto;
}

@media screen and (max-width: 700px) {
    .pop-up {
        width: 75%;
        padding: 10px 20px;
    }
}






/*For small screens*/
@media only screen and (max-width: 600px) {
    .footer-container p {
        width: 90%;
        font-size: 10px;
    }

    .social-links a {
        padding: 1em 1em;
    }

    .contact-info-table tr td {
        padding: 0;
        margin-bottom: 1em;
        width: fit-content;
        text-align: center;
    }

    .link {
        font-size: 0.9em;
    }

    .contact-container h1 {
        margin-bottom: 2em;
    }

    .confirm-email {
        margin: 37% 8%;
        padding: 5% 2%;
    }

    .bi-telephone-outbound {
        display: none;
    }

    .form-box {
        width: 95vw;
        height: 110vh;
    }

    .privacy label {
        max-width: 80%;
    }
}

@media only screen and (max-width: 300px) {
    .input-group-login {
        left: 50px;
    }

    .input-group-register {
        left: 400px;
    }
}


@media (max-width: 1024px) {
    .form-box {
        width: 45vw;
        height: 100vh;
    }

    .reg-col>input,
    select {
        width: 100%;
    }

    .reg-col {
        margin: 0 !important;
    }

}

@media (max-width: 1200px) {
    .footer-container p {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .row {
        display: inline;
        justify-content: space-between;
    }

    .about-content {
        margin: 10vh auto auto auto;
        padding: 15% 0;
        min-height: 70vh;
    }

    .about-image {
        margin: 5% auto;
        width: 70%;
        box-shadow: rgba(255, 255, 255, 0.45) 0px 25px 20px -20px;
    }

    .mine {
        padding: 2% 10%;
    }

    .reg-col>input,
    select,
    .reg-btn,
    label {
        width: 80%;
    }

    .form-box {
        width: 95vw;
        height: 100vh;
    }
}